<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/style-adm-categorias.css">
    <title>Painel de categorias</title>
</head>
<body>
    <div class="container">
        <h1>Categorias</h1>
        <a href="/admin/categorias/new" class="btn btn-primary">Nova categoria <i class="fa-thin fa-plus fa-xl" style="color: #ffffff;"></i></a>
        
        
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Slug</th>
                    <th style="text-align: end;">Editar / Deletar</th>
                </tr>
            </thead>
            <tbody>
                <%  categorias.forEach(categoria =>{ %>

                    <tr>
                        <td> <%= categoria.id %></td>
                        <td> <%= categoria.titulo %></td>
                        <td> <%= categoria.slug %></td>
                        <td style="text-align: end;">
                            <button class="btn-icon">
                                <i class="fa-sharp fa-solid fa-pen" style="color: #ffffff;"></i>
                            </button>  
                            
                            <form method="POST" action="/categorias/delete" style="display: inline;" onsubmit="confirmDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= categoria.id %>">
                                <button class="btn-icon">
                                    <i class="fa-solid fa-xmark fa-xl" style="color: #a51a1a;"></i>
                                </button>
                            </form>
                        </td>
                     </tr>

                <% }) %>    

            </tbody>
        </table>
    </div>
    <script>
        function confirmDelecao(event, form){
            event.preventDefault();
            let deciosao = confirm("Deseja mesmo excluir essa categoria?");

            if(deciosao == true){
                form.submit()
            }
        }
    </script>
    <script src="https://kit.fontawesome.com/cdc2e2625b.js" crossorigin="anonymous"></script>
</body>
</html>