*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.container{
    border: solid 1px rgba(92, 90, 90, 0.712);
    width: 50%;
    height: auto;
    margin-top: 12%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card-head{
    background-color: rgb(44, 80, 197);
    padding: 20px;
    color: white;
}

.card-body{
    background-color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;

}

input, h2{
    padding: 15px;
}

.card-footer{
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(92, 90, 90, 0.712);
}

button{
    padding: 15px;
    flex: 100%;
    background-color: rgb(154, 161, 184);
    border: none;
    margin: 5px;
}

button:hover{
    background-color: rgb(68, 101, 207);
    color: white;
    cursor: pointer;
}