*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}

.container{
    margin-top: 15%;
    width: 60%;
    border: none;
}

.card{
    border: none;
}

.card-header{
    background-color: #212529;
    color: white;
    border: none;
}

.card-body{
    background-color: #2C3034;
}

input{
    color: white;
    width: 100%;
    background-color: #3e454d;
    border: 1px solid #3e454d;
    padding: 10px;
}

input:hover{
    border: 1px solid rgba(150, 147, 147, 0.699);
}

.card-footer{
    background-color: #2C3034;
    display: flex;
    justify-content: end;
    gap: 10px;
}
